body{
  margin:0px;
}
h1 {
  font-size: 60px;
  text-align: center;
  border-bottom: 5px solid gray;
  margin:0;
  padding:15px;
}
ol{
  border-right: 5px solid gray;
  margin: 0px;
  padding: 20px;
  width: 100px;
}
a {
  color:black;
  text-decoration: none;
}
a:visited{
  color: pink;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  padding-left: 33px;
}
#article{
  padding-left: 27px;
  padding-right: 27px;
}
@media(max-width:600px){
  #grid{
    display:block;
  }
  ol{
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
}
